<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><strong>Mobile Saúde</strong> :: Ordem de Serviço</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--        <li><a href="#">Login</a></li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Chamados <span class="sr-only">(current)</span></a></li>
      </ul>
      <!--      <ul class="nav nav-sidebar">-->
      <!--        <li><a href="#">Nav item</a></li>-->
      <!--      </ul>-->
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Chamados</h1>

      <div class="row call-search">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquise por um chamado...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Pesquisar</button>
            </span>

          </div>
        </div>
      </div>
      <button (click)='addRow()'>Add Row</button>

      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Número chamado</th>
              <th>ID paciente</th>
              <th>Nome paciente</th>
              <th>Motivo</th>
              <th>Descrição</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody *ngFor='let chamado of chamados; let i = index'>
            <tr *ngIf="chamado.id !== editRowId">
              <td>{{chamado.numero_chamado}}</td>
              <td>{{chamado.id_paciente}}</td>
              <td>{{chamado.nome_paciente}}</td>
              <td>{{getMotivoDescricao(chamado.id_motivo)}}</td>
              <td style="max-width: 90px;"> {{chamado.descricao}}
              </td>
              <td>{{chamado.status}}</td>
              <td><a (click)="openCall('edit', chamado)">EDITAR</a> / <a (click)="openCall($event)">DETALHES</a>
              </td>
            </tr>
            <tr *ngIf="chamado.id === editRowId">
              <td>{{chamado.numero_chamado}}</td>
              <td>{{chamado.id_paciente}}</td>
              <td>{{chamado.nome_paciente}}</td>
              <td>
                <select (change)="onChamadoChange('id_motivo', $event.target.value)">
                  <option></option>
                  <option [selected]="chamado.id_motivo == motivo.id_motivo" *ngFor="let motivo of motivos" [value]="motivo.id_motivo">
                    {{motivo.descricao}}
                  </option>
                </select></td>
              <td style="max-width: 90px;"> <input (input)="onChamadoChange('descricao', $event.target.value)" type="text" [value]="chamado.descricao"></td>
              <td><input (input)="onChamadoChange('status', $event.target.value)" type="text" [value]="chamado.status"></td>
              <td><a (click)="openCall('save', chamado)">Salvar</a> / <a (click)="openCall('cancelar')">cancelar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li *ngFor="let page of pagesToShow; let i = index"><a (click)="getNextPage(page)" href="#">{{page + 1}}</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
